In [1]:
import os, sys, time, random
import requests as r 
import json
import datetime as dt
import numpy as np
import pandas as pd
import clickhouse_driver
from clickhouse_driver.client import Client
from tqdm.notebook import tqdm

import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

In [2]:
clickhouse = Client('85.193.83.20', database = 'hn_launches',
                    user = 'admin', password = '0987654321')

### Query Clickhouse

In [3]:
launches = clickhouse.query_dataframe('select distinct item_id, name, urls, is_oss from hn_launches.launches')

launches.info()
launches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  291 non-null    int64
 1   name     291 non-null    object
 2   urls     291 non-null    object
 3   is_oss   291 non-null    int64
dtypes: int64(2), object(2)
memory usage: 9.2+ KB

,item_id,name,urls,is_oss
0,23770214,ElectroNeek,[https://electroneek.com],0
1,23780062,Yotta Savings,"[https://www.withyotta.com/, https://en.wikipe...",0
2,23821502,Aquarium,"[https://www.aquariumlearning.com/, https://me...",0
3,23833441,Openbase,[https://openbase.io],1
4,23846186,Legacy,[https://www.givelegacy.com/],0

### Get companies grow metrics

In [4]:
company_growth = pd.DataFrame(columns = ['item_id', 'founded', 'url', 'linkedin_url', 'country',  
                                         'employees', 'estimated_revenue', 'total_funding'])

for name in tqdm(launches['name'].unique()):
    
    time.sleep(np.random.poisson(5))
    
    response = r.get(f"https://growjo.com/api/companies/{name.replace(' ', '_')}", 
                     headers = {'authority': 'growjo.com', \
     'accept': 'application/json, text/plain, */*', \
     'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8', \
     'auth': 'Basic Z3Jvd2pvQXBpVXNlcjpqazYhNVo5UHViQi5Idlo=', \
     'cookie': 'ezoadgid_333975=-1; ezoref_333975=google.com; ezepvv=0; lp_333975=https://growjo.com/; ezosuibasgeneris-1=042958e8-fecf-4431-6dfd-89f2f0a4cc6a; ezoab_333975=mod55; ezovid_333975=1843953631; ezovuuid_333975=41875372-733e-45f5-4565-7547dd0c616c; _ga=GA1.2.1069300794.1655469772; _gid=GA1.2.980828187.1655469772; ezouspvv=0; ezouspva=0; landingPage=/; ezds=ffid%3D1%2Cw%3D1440%2Ch%3D900; ezohw=w%3D1440%2Ch%3D711; __qca=P0-42128702-1655469773770; ezux_lpl_333975=1655469773917|dcbbd6da-5b8a-4797-5fd5-52d9002ab804|false; ezux_ifep_333975=true; ezux_et_333975=116; ezux_tos_333975=168; active_template::333975=pub_site.1655469946; ezopvc_333975=3; ezovuuidtime_333975=1655469947', \
     'referer': f"https://growjo.com/company/{name.replace(' ', '%20')}", \
     'sec-ch-ua': '"Not A;Brand";v="99", "Chromium";v="102", "Google Chrome";v="102"', \
     'sec-ch-ua-mobile': '?0', \
     'sec-ch-ua-platform': '"macOS"', \
     'sec-fetch-dest': 'empty', \
     'sec-fetch-mode': 'cors', \
     'sec-fetch-site': 'same-origin', \
     'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'})

    if response.status_code == 200:
        if 'errorCode' not in response.text:
            response = json.loads(response.text)
            
            company_growth = company_growth.append({
                'item_id': launches[launches['name'] == name]['item_id'], 
                'founded': response['founded'],
                'url':response['url'], 
                'linkedin_url': response['linkedin_url'], 
                'country': response['country'], 
                'employees': response['current_employees'], 
                'estimated_revenue': response['estimated_revenues'], 
                'total_funding': response['total_funding_float']},
                ignore_index = True)
            
    company_growth.append(company_growth)
     
company_growth['item_id'] = company_growth['item_id'].astype('int')

company_growth.head()

  0%|          | 0/291 [00:00<?, ?it/s]

,item_id,founded,url,linkedin_url,country,employees,estimated_revenue,total_funding
0,23770214,2018,electroneek.com,http://www.linkedin.com/company/electroneek,United States,176,54868000,23.7
1,23833441,2019,openbase.com,http://www.linkedin.com/company/openbaseio,United States,11,957000,None
2,23846186,2017,givelegacy.com,http://www.linkedin.com/company/givelegacy,United States,88,12320000,20.2
3,23897626,2015,joinreflect.com,http://www.linkedin.com/company/reflect-inc.,United States,11,924000,None
4,23907902,2016,charityvest.org,http://www.linkedin.com/company/charityvest,United States,13,1014000,None

### Get oss companies github stats

In [5]:
github_api_token = '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'

company_oss = pd.DataFrame(columns = ['item_id', 'github_repo', 'github_stars', 'github_forks', 'github_open_issues'])

for i, row in tqdm(launches[launches['is_oss'] == 1].iterrows()):

    if len([u for u in row['urls'] if 'github' in u]) > 0:
        repo = [u.split('.com/')[-1].replace('/releases/latest', '') for u in row['urls'] if 'github' in u][-1].split(',')[0]
        
        if row['name'].lower() in repo:
            response = r.get(f'https://api.github.com/repos/{repo}',
                             headers = {'Authorization': f'token {github_api_token}'})

            if 'Not Found' not in response.text:
                response = json.loads(response.text)
                
                company_oss = company_oss.append({
                    'item_id': row['item_id'], 
                    'github_repo': repo, 
                    'github_stars': response['stargazers_count'],
                    'github_forks': response['forks_count'],
                    'github_open_issues': response['open_issues_count']},
                ignore_index = True)

        company_oss.append(company_oss)
        
company_oss['item_id'] = company_oss['item_id'].astype('int')

company_oss.head()

0it [00:00, ?it/s]

,item_id,github_repo,github_stars,github_forks,github_open_issues
0,23975807,questdb/questdb,8755,486,233
1,25991485,opstrace/opstrace,1188,44,0
2,26143923,pyroscope-io/pyroscope,5968,328,212
3,26367029,lunatic-solutions/chat,81,8,2
4,26501527,chatwoot/chatwoot,12753,1631,643

In [6]:
company_growth = pd.merge(company_growth, company_oss, how = 'outer', on = 'item_id').replace(np.nan, 0)

In [7]:
company_growth = company_growth.astype({'founded': 'int', 'employees': 'int', 'estimated_revenue': 'int', 'total_funding': 'float',
                                        'github_stars': 'int', 'github_forks': 'int', 'github_open_issues': 'int'})

In [11]:
company_growth.info()
company_growth.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 115
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             116 non-null    int64
 1   founded             116 non-null    int64
 2   url                 116 non-null    object
 3   linkedin_url        116 non-null    object
 4   country             116 non-null    object
 5   employees           116 non-null    int64
 6   estimated_revenue   116 non-null    int64
 7   total_funding       116 non-null    float64
 8   github_repo         116 non-null    object
 9   github_stars        116 non-null    int64
 10  github_forks        116 non-null    int64
 11  github_open_issues  116 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 11.8+ KB

,item_id,founded,url,linkedin_url,country,employees,estimated_revenue,total_funding,github_repo,github_stars,github_forks,github_open_issues
0,23770214,2018,electroneek.com,http://www.linkedin.com/company/electroneek,United States,176,54868000,23.7,0,0,0,0
1,23833441,2019,openbase.com,http://www.linkedin.com/company/openbaseio,United States,11,957000,0.0,0,0,0,0
2,23846186,2017,givelegacy.com,http://www.linkedin.com/company/givelegacy,United States,88,12320000,20.2,0,0,0,0
3,23897626,2015,joinreflect.com,http://www.linkedin.com/company/reflect-inc.,United States,11,924000,0.0,0,0,0,0
4,23907902,2016,charityvest.org,http://www.linkedin.com/company/charityvest,United States,13,1014000,0.0,0,0,0,0

In [20]:
company_growth[['country', 'url', 'linkedin_url', 'github_repo']] = company_growth[['country', 'url', 'linkedin_url', 'github_repo']].replace(0, '')

clickhouse.execute("""
create table hn_launches.company_growth (
item_id	Int32 not null,
founded Int32,
url String,
linkedin_url String, 
country String, 
employees Int32, 
estimated_revenue Int32, 
total_funding Float64,
github_repo String,
github_stars Int32,
github_forks Int32,
github_open_issues Int32
) 
engine = MergeTree() order by item_id;
""")

In [21]:
clickhouse.execute('insert into hn_launches.company_growth values',
                   company_growth.to_dict('records'), types_check = True)

116